{% extends "layout.html" %}

{% block title %}Harjoitukset &ndash; XFit{% endblock %}

{% block content %}
<div class="page-nav exercises-nav">
	<ul class="no-bullets">
		<li><a href="{{ url_for('exercises_create') }}">Harjoituspohjat</a></li>
		<li><a href="{{ url_for('exercises_search') }}">Etsi harjoituspohjia</a></li>
    </ul>
</div>
<div class="page-container">
	{% if not error %}
	<h2>Harjoitukset</h2>
	<div class="list-container">
	{% for e in exercises %}	
		<div class="list-item exercise-item">
			<p class="bold-text">{{ e.name }}</p>
			<p>{{ e.category }}</p>
			<p class="italic-text">{{ e.notes }}</p>
			<div class="item-extra">
				<span>[Tarkastele-painike]</span>
			</div>
		</div>
	{% endfor %}
	</div>
	{% else %}
	{{ error }}
	{% endif %}
</div>
{% endblock %}
