<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}XFit{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <nav>
			<a href="{{ url_for('index') }}" class="logo">XFit</a>
            <ul>
				<li><a href="{{ url_for('index') }}">Etusivu</a></li>
				<li><a href="{{ url_for('login') }}">Kirjaudu</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
		{{ content }}
    </main>

    <footer>
        <p>&copy; 2026 XFit</p>
    </footer>

</body>
</html>
