<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}XFit{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <nav>
			<a href="{{ url_for('home') }}" class="logo">XFit</a>
            <ul>
				<li><a href="{{ url_for('home') }}">Etusivu</a></li>
				{% if session.get('user_id') %}
				<li><a href="#">{{ session.get('username') }}</a></li>
				{# We want POST, not GET #}
				<form class="link-button" action="{{ url_for('logout') }}" method="POST">
					<button type="submit">
						Kirjaudu ulos
					</button>
				</form>	
				{% else %}
				<li><a href="{{ url_for('login') }}">Kirjaudu</a></li>
				<li><a href="{{ url_for('register') }}">Rekisteröidy</a></li>
				{% endif %}
            </ul>
        </nav>
    </header>

    <main>
		{% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 XFit</p>
    </footer>

</body>
</html>
