{% extends "layout.html" %}

{% block title %}Treenit &ndash; XFit{% endblock %}

{% block content %}
<div class="page-nav workouts-nav">
	<ul class="no-bullets">
		<li><a href="{{ url_for('workouts_create') }}">Treenipohjat</a></li>
		<li><a href="{{ url_for('workouts_search') }}">Etsi treenipohjia</a></li>
    </ul>
</div>
<div class="page-container">
	{% if not error %}
	<h2>Treenit</h2>
	<div class="list-container">
	{% for w in workouts %}	
		<div class="list-item workout-item">
			<p class="item-date">{{ w.timestamp }}</p>
			<p class="bold-text">{{ w.description }}</p>
			<p class="italic-text">{{ w.notes }}</p>
			<div class="item-extra">
				<span>[Tarkastele-painike]</span>
			</div>
		</div>
	{% endfor %}
	</div>
	{% else %}
	{{ error }}
	{% endif %}
</div>
{% endblock %}
