{% extends "layout.html" %}

{% block title %}Treenit &ndash; XFit{% endblock %}

{% block content %}
<div class="page-nav workouts-nav">
	<ul class="no-bullets">
		<li><a href="{{ url_for('workouts') }}">Treenit</a></li>
		<li><a href="{{ url_for('workouts_search') }}">Etsi treenipohjia</a></li>
    </ul>
</div>
<div class="page-container">
	<h2>Luo treenipohja</h2>
	<form action="{{ url_for('workouts_templates') }}" method="POST">
        <label for="name">Treenin kuvaus:</label>
        <input type="text" id="name" name="name" required>

        <button type="submit" class="btn">Luo</button>
    </form>
	<br>
	<h2>Luodut pohjat</h2>
	<div class="list-container">
	{% for w in my_templates %}	
		<div class="list-item workout-item">
			<p class="bold-text">{{ w.description }}</p>
			{#
			<div class="item-info-entry">
				<p class="key">Sarjat:</p>	
				<p class="value">{{ w.sets }}</p>	
			</div>
			<div class="item-info-entry">
				<p class="key">Toistot:</p>	
				<p class="value">{{ w.reps }}</p>	
			</div>
			#}
			<div class="item-extra">
				<span>[Käytössä?]</span>
				<span>[Käyttäjien määrä]</span>
				<span>[Tarkastele-painike]</span>
			</div>
		</div>
	{% endfor %}
	</div>
	<br>
	<h2>Käytössä olevat pohjat</h2>
	<div class="list-container">
	{% for w in adopted_templates %}	
		<div class="list-item workout-item">
			<p class="bold-text">{{ w.description }}</p>
			{#
			<div class="item-info-entry">
				<p class="key">Sarjat:</p>	
				<p class="value">{{ w.sets }}</p>	
			</div>
			<div class="item-info-entry">
				<p class="key">Toistot:</p>	
				<p class="value">{{ w.reps }}</p>	
			</div>
			#}
			<div class="item-extra">
				<span>[Käytössä?]</span>
				<span>[Käyttäjien määrä]</span>
				<span>[Tarkastele-painike]</span>
			</div>
		</div>
	{% endfor %}
	</div>
	{% if error %}
	{{ error }}
	{% endif %}
</div>
{% endblock %}
