:root {
	--clr-app-background: #f4f2f1;
	--clr-black-font: #1c1c1c;
	--ff-default: "Roboto", Arial, sans-serif;
	--sz-padding-v: 2rem;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: var(--ff-default);
	font-size: 14px;
	line-height: 1.3rem;
	font-weight: 300;
	color: var(--clr-black-font);
	background-color: var(--clr-app-background);
}

header {
	padding: var(--sz-padding-v);
	& > nav {
		display: flex;
		justify-content: space-between;
		& > ul {
			display: flex;
			list-style-type: none;

		}
	}
}

main {
	padding: var(--sz-padding-v);
	flex-grow: 1;
}

footer {
	padding: var(--sz-padding-v);
}
