:root {
	--clr-app-background: #f4f2f1;
	--clr-font-dark: #1c1c1c;
	--ff-default: "Roboto", Arial, sans-serif;
	--pvh-app-layout: 2rem;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: var(--ff-default);
	font-size: 14px;
	line-height: 1.3rem;
	font-weight: 300;
	color: var(--clr-font-dark);
	background-color: var(--clr-app-background);
}

header {
	padding: var(--pvh-app-layout);
	& > nav {
		display: flex;
		justify-content: space-between;
		& > ul {
			display: flex;
			gap: 1rem;
			list-style-type: none;
		}
	}
}

main {
	padding: var(--pvh-app-layout);
	flex-grow: 1;
	border: blue 1px solid;
}

footer {
	padding: var(--pvh-app-layout);
}

.btn {
	min-width: 7rem;
	padding: 3px 0;
	font-weight: 700;
	
	.btn-primary {
		background: #546845;
	}
}

.ch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.link-button {
	display: inline;
	button {
		font-size: 14px;
		background :none; 
		border :none; 
		cursor :pointer;
	}
}

/* Register/login page styles */

.auth-form-container {

	.form-container {
		padding: 2rem;
		form {
			.grid-container {
				display: grid;
				gap: 7px;
				&.grid-2-2 {
					grid-template-columns: 7rem auto;
					grid-template-rows: repeat(2, 1fr);
				}
				&.grid-4-2 {
					grid-template-columns: 9rem auto;
					grid-template-rows: repeat(4, 1fr);
				}
				input {
					display: block;
				}
			}
			.form-submit {
				display: flex;
				justify-content: center;
				padding: 7px 0;
			}
		}
	}

	.alt-text {

	}
}
