{% extends "layout.html" %}

{% block title %}Harjoitukset &ndash; XFit{% endblock %}

{% block content %}
<div class="page-nav exercises-nav">
	<ul class="no-bullets">
		<li><a href="{{ url_for('exercises') }}">Harjoitukset</a></li>
		<li><a href="{{ url_for('exercises_search') }}">Etsi harjoituspohjia</a></li>
    </ul>
</div>
<div class="page-container">
	<h2>Luo harjoituspohja</h2>
	<br>
	<form action="" method="POST" class="form-stacked">
		<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">	
        <label for="name">Harjoituksen nimi:</label>
        <input type="text" id="name" name="name" required>
		<label for="category">Liikeryhmä:</label>
        <input type="text" id="category" name="category">
		<label for="target_sets">Sarjatavoite:</label>
		<input type="number" id="target_sets" name="target_sets" min="1" value="3" required>
        <label for="target_reps">Toistotavoite:</label>
        <input type="number" id="target_reps" name="target_reps" min="1" value="10" required>
        <button type="submit" class="btn">Luo</button>
    </form>
	<br>
	<h2>Luodut pohjat</h2>
	{% if my_templates %}
	<div class="list-container">
	{% for et in my_templates %}	
		<div class="list-item exercise-item">
			<p class="bold-text">{{ et.name }}</p>
			<p>{{ et.category }}</p>
			<div class="item-info-entry">
				<p class="key">Sarjat:</p>	
				<p class="value">{{ et.sets }}</p>	
			</div>
			<div class="item-info-entry">
				<p class="key">Toistot:</p>	
				<p class="value">{{ et.reps }}</p>	
			</div>
			<div class="item-extra">
				<span>{{ et.exercise_count }} harjoitusta</span>
				<span>{{ et.user_count }} käyttäjää</span>
				<span>
					<form action="" method="POST" class="form-stacked">
						<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">	
						<input type="hidden" name="template_id" value="{{ et.id }}">	
						<input type="hidden" name="is_delete_owner_template" value="true">
						<button type="submit" class="btn">Poista</button>	
					</form>
				</span>
				<span>
					<a href="{{ url_for('view_exercise_template', template_id = et.id) }}">
						<button class="btn" type="submit">Tarkastele</button>
					</a>	
				</span>
			</div>
		</div>
	{% endfor %}
	</div>
	{% else %}
	<br>
	<p>Ei luotuja harjoituspohjia</p>
	{% endif %}
	<br>
	<h2>Käytössä olevat pohjat</h2>
	{% if adopted_templates %}
	<div class="list-container">
	{% for et in adopted_templates %}	
		<div class="list-item exercise-item">
			<p class="bold-text">{{ et.name }}</p>
			<p>{{ et.category }}</p>
			<div class="item-info-entry">
				<p class="key">Sarjat:</p>	
				<p class="value">{{ et.sets }}</p>	
			</div>
			<div class="item-info-entry">
				<p class="key">Toistot:</p>	
				<p class="value">{{ et.reps }}</p>	
			</div>
			<div class="item-extra">
				<span>{{ et.exercise_count }} harjoitusta</span>
				<span>{{ et.user_count }} käyttäjää</span>
				<span>
					<form action="" method="POST" class="form-stacked">
						<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">	
						<input type="hidden" name="template_id" value="{{ et.id }}">	
						<input type="hidden" name="is_delete_adopted_template" value="true">
						<button type="submit" class="btn">Poista käytöstä</button>	
					</form>
				</span>
				<span>
					<a href="{{ url_for('view_exercise_template', template_id = et.id) }}">
						<button class="btn" type="submit">Tarkastele</button>
					</a>	
				</span>
			</div>
		</div>
	{% endfor %}
	</div>
	{% else %}
	<br>
	<p>Ei käytössä olevia harjoituspohjia</p>
	{% endif %}
</div>
{% endblock %}
