{% extends "layout.html" %}

{% block title %}Harjoitukset &ndash; XFit{% endblock %}

{% block content %}
<div class="page-nav exercises-nav">
	<ul class="no-bullets">
		<li><a href="{{ url_for('exercises') }}">Harjoitukset</a></li>
		<li><a href="{{ url_for('exercises_search') }}">Etsi harjoituspohjia</a></li>
    </ul>
</div>
<div class="page-container">
	<h2>Luo harjoituspohja</h2>
	<form action="{{ url_for('exercise_templates') }}" method="POST" class="form-stacked">
        <label for="name">Harjoituksen nimi:</label>
        <input type="text" id="name" name="name" required>
		
		<label for="category">Liikeryhmä:</label>
        <input type="text" id="category" name="category">
        
		<label for="target_sets">Sarjatavoite:</label>
        <input type="number" id="target_sets" name="target_sets" min="1" value="3" required>

        <label for="target_reps">Toistotavoite:</label>
        <input type="number" id="target_reps" name="target_reps" min="1" value="10" required>

        <button type="submit" class="btn">Luo</button>
    </form>
	<br>
	<h2>Luodut pohjat</h2>
	<div class="list-container">
	{% for e in my_templates %}	
		<div class="list-item exercise-item">
			<p class="bold-text">{{ e.name }}</p>
			<p>{{ e.category }}</p>
			<div class="item-info-entry">
				<p class="key">Sarjat:</p>	
				<p class="value">{{ e.sets }}</p>	
			</div>
			<div class="item-info-entry">
				<p class="key">Toistot:</p>	
				<p class="value">{{ e.reps }}</p>	
			</div>
			<div class="item-extra">
				<span>[Käytössä?]</span>
				<span>[Käyttäjien määrä]</span>
				<span>
					<a href="{{ url_for('exercise_template', template_id = e.id) }}">
						<button class="btn" type="submit">Tarkastele</button>
					</a>	
				</span>
			</div>
		</div>
	{% endfor %}
	</div>
	<br>
	<h2>Käytössä olevat pohjat</h2>
	<div class="list-container">
	{% for e in adopted_templates %}	
		<div class="list-item exercise-item">
			<p class="bold-text">{{ e.name }}</p>
			<p>{{ e.category }}</p>
			<div class="item-info-entry">
				<p class="key">Sarjat:</p>	
				<p class="value">{{ e.sets }}</p>	
			</div>
			<div class="item-info-entry">
				<p class="key">Toistot:</p>	
				<p class="value">{{ e.reps }}</p>	
			</div>
			<div class="item-extra">
				<span>[Käytössä?]</span>
				<span>[Käyttäjien määrä]</span>
				<span>
					<a href="{{ url_for('exercise_template', template_id = e.id) }}">
						<button class="btn" type="submit">Tarkastele</button>
					</a>	
				</span>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
