{% extends "layout.html" %}

{% block title %}Harjoitukset &ndash; XFit{% endblock %}

{% block content %}
<div class="page-nav exercises-nav">
	<ul class="no-bullets">
		<li><a href="{{ url_for('exercises') }}">Harjoitukset</a></li>
		<li><a href="{{ url_for('exercise_templates') }}">Harjoituspohjat</a></li>
    </ul>
</div>
<div class="page-container">
	<h2>Etsi harjoituspohjia</h2>
	<div class="exercises-search-container ch">
		<form action="{{ url_for('exercises_search') }}" method="GET" class="search-input">
			<input type="text" name="query" value="{{ search_query }}">
			<button class="btn" type="submit">Hae</button>
		</form>
	</div>
	<div class="list-container">
	{% for et in templates %}	
		<div class="list-item exercise-item">
			<p class="bold-text">{{ et.name }}</p>
			<p>{{ et.category }}</p>
			<div class="item-info-entry">
				<p class="key">Sarjat:</p>	
				<p class="value">{{ et.sets }}</p>	
			</div>
			<div class="item-info-entry">
				<p class="key">Toistot:</p>	
				<p class="value">{{ et.reps }}</p>	
			</div>
			<div class="item-extra">
				{#<span>[Käyttäjien määrä]</span>#}
				<span>
					<a href="{{ url_for('view_exercise_template', template_id = et.id) }}">
						<button class="btn" type="submit">Tarkastele</button>
					</a>	
				</span>
				<form action="" method="POST">
					<input type="hidden" name="template_id" value="{{ et.id }}">
					<button class="btn" type="submit">Ota käyttöön</button>
				</form>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
