{% extends "layout.html" %}

{% block title %}Treenit &ndash; XFit{% endblock %}

{% block content %}
<div class="page-nav workouts-nav">
	<ul class="no-bullets">
		<li><a href="{{ url_for('workouts') }}">Treenit</a></li>
		<li><a href="{{ url_for('workout_templates') }}">Treenipohjat</a></li>
    </ul>
</div>
<div class="page-container">
	<h2>Etsi treenipohjia</h2>
	<div class="workouts-search-container ch">
		<form action="{{ url_for('workouts_search') }}" method="GET" class="search-input">
			<input type="text" name="query" value="{{ search_query }}">
			<button class="btn" type="submit">Hae</button>
		</form>
	</div>
	<div class="list-container">
	{% for w in templates %}	
		<div class="list-item workout-item">
			<p class="bold-text">{{ w.description }}</p>
			{#
			<div class="item-info-entry">
				<p class="key">Sarjat:</p>	
				<p class="value">{{ e.sets }}</p>	
			</div>
			<div class="item-info-entry">
				<p class="key">Toistot:</p>	
				<p class="value">{{ e.reps }}</p>	
			</div>
			#}
			<div class="item-extra">
				<span>[Käyttäjien määrä]</span>
				<span>[Tarkastele-painike]</span>
				<form action="{{ url_for('workouts_add_template') }}" method="POST">
					<input type="hidden" name="template_id" value="{{ w.id }}">
					<button class="btn" type="submit">Ota käyttöön</button>
				</form>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
