{% extends "layout.html" %}

{% block title %}Treenit &ndash; XFit{% endblock %}

{% block content %}
<div class="page-nav workouts-nav">
	<ul class="no-bullets">
		<li><a href="{{ url_for('workout_templates') }}">Treenipohjat</a></li>
		<li><a href="{{ url_for('workouts_search') }}">Etsi treenipohjia</a></li>
    </ul>
</div>
<div class="page-container">
	<h2>Treenit</h2>
	{% if workouts %}
	<div class="list-container">
	{% for w in workouts %}	
		<div class="list-item workout-item">
			<p class="item-date">{{ w.started_at }}</p>
			<p class="bold-text">{{ w.name }}</p>
			{% if w.notes %}
			<p class="italic-text">{{ w.notes }}</p>
			{% endif %}
			<div class="item-extra">
				<span>
					<a href="{{ url_for('view_workout', workout_id = w.id) }}">
						<button class="btn" type="submit">Tarkastele</button>
					</a>	
				</span>
			</div>
		</div>
	{% endfor %}
	</div>	
	{% else %}
	<br>
	<p>Ei suoritettuja treenejä</p>
	{% endif %}
</div>
{% endblock %}
