{% extends "layout.html" %}

{% block title %}Treenit &ndash; XFit{% endblock %}

{% block content %}
<div class="page-nav exercises-nav">
	<ul class="no-bullets">
		<li><a href="{{ url_for('workouts') }}">Treenit</a></li>
		<li><a href="{{ url_for('workout_templates') }}">Treenipohjat</a></li>
		<li><a href="{{ url_for('workouts_search') }}">Etsi treenipohjia</a></li>
    </ul>
</div>
<div class="page-container">
	{% if has_permissions %}
	<h2>Muokkaa treenipohjaa</h2>
	<form action="{{ url_for('view_workout_template', template_id = template.id) }}" method="POST" class="form-stacked">
        <label for="name">Treenin nimi:</label>
		<input type="text" id="name" name="name" value="{{ template.name }}" required>
		<label for="name">Treenin kuvaus:</label>
		<input type="text" id="desc" name="desc" value="{{ template.description or "" }}">
        <button type="submit" class="btn">Päivitä</button>	
    </form>
	<br>
	{% else %}
	<ul>
		<li>Treenin nimi: {{ template.name }}</li>
		{% if template.description %}
		<li>Treenin kuvaus: {{ template.description }}</li>
		{% endif %}
		<li>Luoja: {{ template.creator_name }}</li>
	<ul>
	{% endif %}
	{% if has_permissions %}
	<form action="" method="POST" class="form-stacked">
		<input type="hidden" name="is_delete_template" value="true">
        <button type="submit" class="btn">Poista</button>	
    </form>
	{% endif %}
	<br>
	<h2>Harjoitukset</h2>
	<div class="list-container">
	{% for et in exercises %}	
		<div class="list-item exercise-item">
			<p class="bold-text">{{ et.name }}</p>
			<p>{{ et.category }}</p>
			<div class="item-info-entry">
				<p class="key">Sarjat:</p>	
				<p class="value">{{ et.sets }}</p>	
			</div>
			<div class="item-info-entry">
				<p class="key">Toistot:</p>	
				<p class="value">{{ et.reps }}</p>	
			</div>
			{% if has_permissions %}
			<div class="item-extra">
				<form action="" method="POST">
					<input type="hidden" name="exercise_template_id" value="{{ et.exercise_template_id }}">	
					<input type="hidden" name="is_remove_exercise" value="true">
					<button type="submit" class="btn">Poista treenistä</button>
				</form>
			</div>
			{% endif %}
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
