{% extends "layout.html" %}

{% block title %}Treenit &ndash; XFit{% endblock %}

{% block content %}
<div class="page-nav workouts-nav">
	<ul class="no-bullets">
		<li><a href="{{ url_for('workouts') }}">Treenit</a></li>
		<li><a href="{{ url_for('workout_templates') }}">Treenipohjat</a></li>
		<li><a href="{{ url_for('workouts_search') }}">Etsi treenipohjia</a></li>
    </ul>
</div>
<div class="page-container">
	<h2>Treeniluokitus: {{ tag_name }}</h2>
	<br>
	<div class="list-container">
	{% if templates %}	
	{% for wt in templates %}
		{% set wt_tags = tags.get(wt.id, []) %}
		<div class="list-item workout-item">
			<p class="bold-text">{{ wt.name }}</p>
			{% if wt_tags %}
			<p>{{ wt_tags | join(", ") }}</p>
			{% else %}
			<p class="italic-text">Ei luokkia</p>
			{% endif %}
			{% if wt.description %}
			<p>{{ wt.description }}</p>
			{% else %}
			<p class="italic-text">Ei kuvausta</p>
			{% endif %}
			<div class="item-info-entry">
				<p class="key">Liikkeitä:</p>	
				<p class="value">{{ wt.exercise_count }}</p>
			</div>
			<div class="item-extra">
				<span>
					<a href="{{ url_for('view_workout_template', template_id = wt.id) }}">
						<button class="btn" type="submit">Tarkastele</button>
					</a>	
				</span>
				{#<form action="" method="POST">
					<input type="hidden" name="template_id" value="{{ wt.id }}">
					<button class="btn" type="submit">Ota käyttöön</button>
				</form>#}
			</div>
		</div>
	{% endfor %}
	{% else %}
	<p>Ei osumia</p>
	{% endif %}
	</div>
</div>
{% endblock %}
