{% extends "layout.html" %}

{% block title %}Treenit &ndash; XFit{% endblock %}

{% block content %}
<div class="page-nav workouts-nav">
	<ul class="no-bullets">
		<li><a href="{{ url_for('workouts') }}">Treenit</a></li>
		<li><a href="{{ url_for('workouts_search') }}">Etsi treenipohjia</a></li>
    </ul>
</div>
<div class="page-container">
	<h2>Luo treenipohja</h2>
	<br>
	<form action="{{ url_for('workout_templates') }}" method="POST">
        <label for="name">Treenin nimi:</label>
        <input type="text" id="name" name="name" required>
		<label for="name">Treenin kuvaus:</label>
        <input type="text" id="desc" name="desc">
        <button type="submit" class="btn">Luo</button>
    </form>
	<br>
	<h2>Luodut pohjat</h2>
	{% if my_templates %}
	<div class="list-container">
	{% for wt in my_templates %}	
		<div class="list-item workout-item">
			<p class="bold-text">{{ wt.name }}</p>
			{% if wt.categories %}
			<p>{{ wt.categories }}</p>
			{% else %}
			<p class="italic-text">Ei ryhmää</p>
			{% endif %}
			{% if wt.description %}
			<p>{{ wt.description }}</p>
			{% else %}
			<p class="italic-text">Ei kuvausta</p>
			{% endif %}
			<div class="item-extra">
				<span>{{ wt.workout_count }} treeniä tehty</span>
				<span>{{ wt.exercise_count }} harjoitusta</span>
				<span>{{ wt.user_count }} käyttäjää</span>
				<span>
					<a href="{{ url_for('add_workout_exercises', template_id = wt.id) }}">
						<button class="btn" type="submit">Lisää harjoitus</button>
					</a>	
				</span>
				<span>
					<a href="{{ url_for('view_workout_template', template_id = wt.id) }}">
						<button class="btn" type="submit">Tarkastele</button>
					</a>	
				</span>
			</div>
		</div>
	{% endfor %}
	</div>
	{% else %}
	<br>
	<p>Ei luotuja treenipohjia</p>
	{% endif %}
	<br>
	<h2>Käytössä olevat pohjat</h2>
	{% if adopted_templates %}
	<div class="list-container">
	{% for wt in adopted_templates %}	
		<div class="list-item workout-item">
			<p class="bold-text">{{ wt.name }}</p>
			{% if wt.categories %}
			<p>{{ wt.categories }}</p>
			{% else %}
			<p class="italic-text">Ei ryhmää</p>
			{% endif %}
			{% if wt.description %}
			<p>{{ wt.description }}</p>
			{% else %}
			<p class="italic-text">Ei kuvausta</p>
			{% endif %}
			<div class="item-extra">
				<span>{{ wt.workout_count }} treeniä tehty</span>
				<span>{{ wt.exercise_count }} harjoitusta</span>
				<span>{{ wt.user_count }} käyttäjää</span>
				<span>
					<a href="{{ url_for('view_workout_template', template_id = wt.id) }}">
						<button class="btn" type="submit">Tarkastele</button>
					</a>	
				</span>
			</div>
		</div>
	{% endfor %}
	</div>
	{% else %}
	<br>
	<p>Ei käytössä olevia treenipohjia</p>
	{% endif %}
</div>
{% endblock %}
