{% extends "layout.html" %}

{% block title %}Treenit &ndash; XFit{% endblock %}

{% block content %}
<div class="page-nav workouts-nav">
	<ul class="no-bullets">
		<li><a href="{{ url_for('workouts') }}">Treenit</a></li>
		<li><a href="{{ url_for('workouts_search') }}">Etsi treenipohjia</a></li>
    </ul>
</div>
<div class="page-container">
	<h2>Luo treenipohja</h2>
	<br>
	<form action="" method="POST">
		<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">	
        <label for="name">Treenin nimi:</label>
        <input type="text" id="name" name="name" required>
		<label for="name">Treenin kuvaus:</label>
        <input type="text" id="desc" name="desc">
        <label for="name">Treenin luokat:</label>
        <input style="width: 300px" type="text" id="tags" name="tags" placeholder="Syötä pilkulla erotettuna listana...">
		<button type="submit" class="btn">Luo</button>
    </form>
	<br>
	<h2>Luodut pohjat</h2>
	{% if my_templates %}
	<div class="list-container">
	{% for wt in my_templates %}
		{% set wt_categories = categories.get(wt.id, []) %}
		{% set wt_tags = tags.get(wt.id, []) %}
		<div class="list-item workout-item">
			<p class="bold-text">{{ wt.name }}</p>
			{% if wt_categories %}
			<p>{{ wt_categories | join(", ") }}</p>
			{% else %}
			<p class="italic-text">Ei ryhmiä</p>
			{% endif %}
			{% if wt_tags %}
			<p>
				{% for tag in wt_tags %}
				<a href="{{ url_for('workout_templates_tag', name = tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
			</p>
			{% else %}
			<p class="italic-text">Ei luokkia</p>
			{% endif %}
			{% if wt.description %}
			<p>{{ wt.description }}</p>
			{% else %}
			<p class="italic-text">Ei kuvausta</p>
			{% endif %}
			<div class="item-extra">
				<span>{{ wt.workout_count }} treeniä tehty</span>
				<span>{{ wt.exercise_count }} harjoitusta</span>
				<span>{{ wt.user_count }} käyttäjää</span>
				<span>
					<a href="{{ url_for('add_workout_exercises', template_id = wt.id) }}">
						<button class="btn" type="submit">Lisää harjoitus</button>
					</a>	
				</span>
				<span>
					<form action="" method="POST" class="form-stacked">
						<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">	
						<input type="hidden" name="is_do_workout" value="true">
						<input type="hidden" name="template_id" value="{{ wt.id }}">	
						<input type="hidden" name="template_name" value="{{ wt.name }}">	
						<input type="hidden" name="template_desc" value="{{ wt.description or "" }}">	
						<button type="submit" class="btn">Tee treeni</button>	
					</form>
				</span>
				<span>
					<form action="" method="POST" class="form-stacked">
						<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">	
						<input type="hidden" name="template_id" value="{{ wt.id }}">	
						<input type="hidden" name="is_delete_owner_template" value="true">
						<button type="submit" class="btn">Poista</button>	
					</form>
				</span>
				<span>
					<a href="{{ url_for('view_workout_template', template_id = wt.id) }}">
						<button class="btn" type="submit">Tarkastele</button>
					</a>	
				</span>
			</div>
		</div>
	{% endfor %}
	</div>
	{% else %}
	<br>
	<p>Ei luotuja treenipohjia</p>
	{% endif %}
	<br>
	<h2>Käytössä olevat pohjat</h2>
	{% if adopted_templates %}
	<div class="list-container">
	{% for wt in adopted_templates %}	
		{% set wt_categories = categories.get(wt.id, []) %}
		{% set wt_tags = tags.get(wt.id, []) %}
		<div class="list-item workout-item">
			<p class="bold-text">{{ wt.name }}</p>
			{% if wt_categories %}
			<p>{{ wt_categories | join(", ") }}</p>
			{% else %}
			<p class="italic-text">Ei ryhmiä</p>
			{% endif %}
			{% if wt_tags %}
			<p>
				{% for tag in wt_tags %}
				<a href="{{ url_for('workout_templates_tag', name = tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
			</p>
			{% else %}
			<p class="italic-text">Ei luokkia</p>
			{% endif %}
			{% if wt.description %}
			<p>{{ wt.description }}</p>
			{% else %}
			<p class="italic-text">Ei kuvausta</p>
			{% endif %}
			<div class="item-extra">
				<span>{{ wt.workout_count }} treeniä tehty</span>
				<span>{{ wt.exercise_count }} harjoitusta</span>
				<span>{{ wt.user_count }} käyttäjää</span>
				<span>
					<form action="" method="POST" class="form-stacked">
						<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">	
						<input type="hidden" name="is_do_workout" value="true">
						<input type="hidden" name="template_id" value="{{ wt.id }}">	
						<input type="hidden" name="template_name" value="{{ wt.name }}">	
						<input type="hidden" name="template_desc" value="{{ wt.description or "" }}">	
						<button type="submit" class="btn">Tee treeni</button>	
					</form>
				</span>
				<span>
					<form action="" method="POST" class="form-stacked">
						<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">	
						<input type="hidden" name="template_id" value="{{ wt.id }}">	
						<input type="hidden" name="is_delete_adopted_template" value="true">
						<button type="submit" class="btn">Poista käytöstä</button>	
					</form>
				</span>
				<span>
					<a href="{{ url_for('view_workout_template', template_id = wt.id) }}">
						<button class="btn" type="submit">Tarkastele</button>
					</a>	
				</span>
			</div>
		</div>
	{% endfor %}
	</div>
	{% else %}
	<br>
	<p>Ei käytössä olevia treenipohjia</p>
	{% endif %}
</div>
{% endblock %}
